.contContacto{
    .formulario{
        form{
            .tituloSec{
                color: $textColor-cyan;
            }
            .clienteEmpresa{
                font-weight: 700;
                border: $borderColor1;
                border-radius: 10px;
                width: 260px;
                box-shadow: 3px 3px 5px #00000046;
            }
            textarea{
                resize: none;
              }
            .block{
                width: 260px;
                border-radius: 10px;
                border: $borderColor2;
                &:focus{
                    outline: none;
                }
            }
            .boton:focus{
            outline: none;
            }
        }
    }
    .datosContacto{
        background-color: $bgdColor1;
        ul{
            li{
                list-style: none;
                font-size: 1.1rem;
                font-weight: 700;
                color: $textColor-light;
                text-shadow: 2px 2px 2px rgba(17, 17, 17, 0.301);
                i{
                    font-size: 3rem;
                }
            }
        }
    }
}
.modal-content{
    border: $borderColor1;
    font-size: 1.2rem;
    color: $iconText-color;
    text-shadow: $text-shadow;
    border-radius: 15px;
    .tituloSec{
        font-size: 1.5rem;
        color: $textColor-cyan;
        text-shadow: $text-shadow;
    }
    i{
        font-size: 12rem;
        color: $iconText-color;
    }
    .modal-footer{
        border: none;
        button:focus{
            outline: none;
        }
    }
}
@media all and(min-width:768px){
    .contContacto{
        .datosContacto{
            ul{
                li{
                    font-size: 2rem;
                    i{
                        font-size: 4rem;
                    }
                }
            }
        }
    }
}