*{
    margin: 0;
    padding: 0;
}
/*---------------------------------------------REGLAS GENERALES----*/
body{
    font-family: 'Open Sans', sans-serif;
    /*background-color: rgb(53, 53, 53);*/ 
}
h1{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
    line-height: 50px;
}
h2{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
    line-height: 50px;
}
h3{
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);

}
.tituloSec{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
}
@mixin boton{
    background-color: $botonBgrd;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: $botonText;
    font-size: 25px;
    font-weight: 800;
    margin-top: 20px;
    box-shadow: 3px 3px 5px #00000046;
    &:hover{
        background-color: $botonBgrdHover;
        transform: scale(1.1);
        border: $borderColor1;
        color: $botonTextHover;
    }
}
/*----------MAP-ANCHOS--------------------*/ 
@each $k, $v in $width-map{
    .bloque-#{$k}{
        width: $v;
    }
}
@for $degrade from 1 through 3{
    .botonDeg-#{$degrade}{
        color: linear-gradient(0deg, #c100cf 1%*$degrade+10, #5184ea 46%*$degrade+10, #00e4ff 100%*$degrade+10);;
    }
}