#header{
    border-bottom: $borderColor1;
    background-color: cyan;
    .logo{
        width: 65px;
    }
    .navbar-toggler{
        border: none !important;
        font-size: 2rem;
        &:hover{
            outline: none !important;
        } 
    }
    .navbar-collapse{
        padding: 50px;
        margin-top: 15px;
    }
    .nav-item a{
        color: #141414;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        padding: 15px;
        &:hover{
            color:#dd00dd;
            transform: scale(108%);
        }
    }
}
/*------------------------------------------------MEDIDA L---*/
@media all and(min-width: 768px){
    #header{
            padding-left: 2.5rem !important;
            padding-right: 2.5rem !important;
        
        .logo{
            width: 80px;
        }
        .navbar-toggler{
            font-size: 2.5rem;
        }
        .nav-item a{
            font-size: 21px;
        }
    }
}
@media all and(min-width:992px){
    #header{
        background-color: white;
        border-bottom: $borderColor2;
        justify-content: space-between;
        .navbar-collapse{
            padding: 0px;
        }
        .nav-item a{
            font-size: 16px;
            margin-bottom: 0px;
        }
    }
}


