#header{
    border-bottom: $borderColor1;
    background-color: cyan;
    .logo{
        width: 65px;
    }
    .navbar-toggler{
        outline: none;
        border: $borderColor2 !important;
        font-size: 2rem;
        border-radius: 10px;
        &:focus{
            border: $borderColor1 !important;
            .navbar-toggler-icon{
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(230, 0, 230)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
            }
            transform: scale(1.05);
            transition: 400ms ease-in-out;
        }
    }
    .navbar-collapse{
        padding: 50px;
        margin-top: 15px;
    }
    .nav-item a{
        color: #141414;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        padding: 15px;
        &:hover{
            color:$botonText;
            transform: scale(108%);
        }
    }
}
/*------------------------------------------------MEDIDA L---*/
@media all and(min-width: 768px){
    #header{
            padding: 0 2.5rem  !important;
        .navbar-toggler{
            font-size: 2.5rem;
        }
        .nav-item a{
            font-size: 21px;
        }
    }
}
@media all and(min-width:992px){
    #header{
        background-color: white;
        border-bottom: $borderColor2;
        justify-content: space-between;
        .navbar-collapse{
            padding: 0px;
        }
        .nav-item a{
            padding: 10px;
            font-size: 15px;
            margin-bottom: 0px;
        }
    }
}


