@media (min-width: 576px) and (max-width:767px){
    .slideHome{
        .botonSlide{
            display: none;
        }
    }
    #footer{
        .logo{
            display: none;
        }
        .navFoot{
            display: none;
        }
        .maps{
            display: none;
        }
        .social{
            img{
                max-width: 60px;
                margin: 0 50px;
            }
        }
    }
}
/*-------------------------------------------------------medida iPad Chrome*/
@media (min-width:768px) and (max-width:991px){
    .slideHome{
        .textSlide{
            font-size: 5rem;
        }
        .botonSlide{
            display: none;
        }
    }
    .contNosotros, .contProyectos, .contBeneficios, .contServicios{
        display: flex;
    }
    .contNosotros .textNosotros, .contNosotros .imgNosotros, .contProyectos .textProyectos, .contProyectos .imgProyectos{
        width: 50%;
        height: 100vh;
        padding: 60px;
    }
    .contBeneficios{
        flex-wrap: wrap;
        flex-direction: row;
        height: 100vh;
        padding: 0;
        .beneficio{
            width: 50%;
            height: 25vh;
            margin: 0;
            align-content: center;
        }
        .icon{
            width: 120px;
            margin-bottom: 20px;
        }
        p{
            font-size: 1.2rem;
            text-align: center;
            width: 50%;
        }
    }
    .contServicios{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        .serv-proceso, .serv-modelado, .serv-impresion, .serv-prototipo{
            width: 42%;
            height: 50vh;
        }
    }
    #footer{
        .logo{
            display: none;
        }
        .navFoot{
            display: none;
        }
        .maps{
            display: none;
        }
        .social{
            img{
                max-width: 70px;
                margin: 0 70px;
            }
        }
    }
    /*-------------------------------------------------SECCION NOSOTROS*/
    .gridNosotros{
        grid-template-areas:
        "hist hist"
        "ele ele";
        .contHistoria{
            flex-direction: row;
            width: 100%;
            height: 85vh;
            .texthist{
                height: 100%;
            }
            .imgHistoria{
                height: 100%;
            }
        }
        .contElegirnos{
            flex-direction: row;
            width: 100%;
            height: 85vh;
            .imgElegirnos{
                height: 100%;
            }
            .textEle{
                height: 100%;
            }
        }
    }
}
/*------------------------------------------------MEDIDA L---*/
@media (min-width:992px){
    #header{
        background-color: white;
        border-bottom: 5px solid cyan;
        justify-content: space-between;
    }
    .slideHome{
        border-bottom: 4px solid #c70988;
        .carousel-caption{
            height: 100%;
            width: 100%;
            top: 0;
            .textSlide{
                background-color: #0000006c;
                color: whitesmoke;
                width: 500px;
                height: 300px;
                border-radius: 50px;
                font-size: 2rem;
                font-weight: 800;
            }
        }
    }
    .contNosotros, .contProyectos{
        height: 105vh;
        display: flex;
    }
    .contNosotros{
        .textNosotros, .imgNosotros{
            height: 100%;
            width: 50%;
            background-color: white;
            color: #0e0e0e;
        }
    } 
    .contBeneficios{
        flex-direction: row;
        height: 50vh;
        border-top: 4px solid #c70988;
        border-bottom: 4px solid #c70988;
        padding: 0;
        .beneficio{
            margin: 0;
            .icon{
                display: block;
                width: 120px;
            }
            p{
                width: 80%;
                text-align: center;
                font-size: 1.1rem;
            }
        }
    }
    .contProyectos .imgProyectos, .contProyectos .textProyectos{
        height: 100%;
        background-color: white;
        color: #0e0e0e;
    }
    .contServicios{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
        padding: 0px;
        border-top: 4px solid #c70988;
        .serv-proceso, .serv-modelado, .serv-impresion, .serv-prototipo{
            height: 50vh;
            width: 22%;
            border: 4px solid cyan;
            background-size: cover;
            margin: 0;
            &:hover{
                transform: scale(1.1);
                transition: all 600ms;
            }
        }
    }
    #footer{
        border-top: 4px solid cyan;
        background-color: white;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
    }
    /*------------------------------------------------SECCION NOSOTROS*/
    .gridNosotros{
        grid-template-areas:
        "hist hist"
        "ele ele";
        .contHistoria{
            flex-direction: row;
            width: 100%;
            height: 100vh;
            .texthist{
                height: 100%;
            }
            .imgHistoria{
                height: 100%;
            }
        }
        .contElegirnos{
            flex-direction: row;
            width: 100%;
            height: 100vh;
            .imgElegirnos{
                height: 100%;
            }
            .textEle{
                height: 100%;
            }
        }
    }

    /*-----------------------------------------------SECCION SERVICIOS*/
    .contDetalleServicio{
        background-color: white;
        .iconText{
            height: 25%;
            .img1, .img2{
                margin-bottom: 180px;
            }
        }
    }
    .contDiseñoProducto{
        display: flex;
        flex-direction: row;
        margin: 200px 0;
        
    }
    .contImpre3d{
        display: flex;
        flex-direction: row-reverse;
        margin: 200px 0;

    }
    .contModelado3d{
        display: flex;
        flex-direction: row;
        margin: 200px 0;

    }
    .contPrototipos{
        display: flex;
        flex-direction: row-reverse;
        margin: 200px 0;

    }
/*----------------------------------------------------CONTACTO---*/
    .contContacto{
        width: 100%;
        display: flex;
        justify-content: start;
        .formulario{
            width: 50%;
            height: 110vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .tituloSec{
                color: rgb(0, 102, 102);
                margin-bottom: 50px;
            }
            .clienteEmpresa{
                border: 3px solid #00e6e6;
                border-radius: 10px;
                width: 260px;
                margin-bottom: 20px;
                padding: 0px;
            }
            .block{
                display: block;
                border: 3px solid #00e6e6;
                padding: 5px;
                margin-bottom: 20px;
            }
            .boton{
                background-color: #00f7ff;
                text-decoration: none;
                padding: 10px 20px;
                border-radius: 20px;
                border: none;
                color: #c70988;
                font-size: 25px;
                font-weight: 800;
                margin-top: 20px;
                &:hover{
                    transform: scale(1.1);
                    border: 2px solid magenta;
                    color: magenta;
                }
            }

        }
        .contacto{
            background-color: #00e6e6;
            width: 50%;
            height: 110vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            li{
                list-style: none;
                padding-bottom: 50px;
                font-size: 2rem;
                font-weight: 700;
                color: rgb(255, 255, 255);
                text-shadow: 2px 2px 2px rgba(17, 17, 17, 0.301);
            }
        }
    }
}