@mixin caja-descripcion($direccion: column){
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: $direccion;
    align-items: center;
}
@mixin text-block($alto:55vh, $ancho:100%, $color: $textColor-light, $fntSize: 1.2rem){
    height: $alto;
    width: $ancho;
    color: $color;
    line-height: 2rem;
    p{
        font-size: $fntSize;
        text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.384);
    }
    @media all and(min-width: 320px) and (max-width: 767px){
        line-height: 1.6;
    }
} 
@mixin img-block($bg, $alto:55vh, $ancho:100%){ 
    height: $alto;
    width: $ancho;
    background-image: url(../media/#{$bg}.jpg);
    background-position: center;
    background-size: cover;
}
@mixin tagH-prop ($fntSize, $mb){
    text-transform: uppercase;
    font-size: $fntSize;
    color: $textColor-light;
    font-weight: 800;
    margin-bottom: $mb;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
}
@mixin boton{
    background-color: $botonBgrd;
    text-decoration: none !important;
    text-transform: uppercase;
    text-align: center;
    padding: .5rem 1.5rem;
    border-radius: 20px;
    color: $botonText;
    font-size: 22px;
    border: $borderColor2;
    font-weight: 800;
    box-shadow: 3px 3px 5px #00000046;
    box-sizing: border-box;
    &:hover{
        transition: all 150ms ease-in-out ;
        background-color: $botonBgrdHover;
        transform: scale(1.1);
        border: $borderColor1;
        color: $botonTextHover;
    }
}
