.blockServicio{
    .contDetalleServicio{
        background-color: $bgdColor2;
        color: $textColor-light;
        .textContent{
            @include text-block(55vh, $ancho:100%);
        }
        .iconContainer{
            height: 22vh;
            background-color: $bgdColor1; 
            .iconText{
                i{
                    font-size: 50px;
                    text-shadow:$icon-shadow;
                }
                p{
                    color: $textColor-light;
                    text-transform: uppercase;
                    font-weight: 800;
                    font-size: 14px;
                    text-shadow:$text-shadow;
                }
            }
        }
    }
}
#contDisenoProducto.blockServicio{
    .imgService{
        @include img-block(disenosmall, 40vh, $ancho:100%);
    }
}
#contImpre3d.blockServicio{
    .imgService{
        @include img-block(impresionesmall, 40vh, $ancho:100%);
    }
}
#contModelado3d.blockServicio{  
    .imgService{
        @include img-block(modeladosmall, 40vh, $ancho:100%);
    }
}
#contPrototipos.blockServicio{
    .imgService{
        @include img-block(prototiposmall, 40vh, $ancho:100%);
    }
}
/*---------------------------------media queries---------------------------*/
@media all and(min-width: 768px){
    .blockServicio{
        height: 90vh;
        .contDetalleServicio{
            height: 50%;
            .textContent{
                @include text-block($alto:100%, $ancho:100%, $fntSize: 1.2rem);
            }
            .iconContainer{
                height: 100%;
                .iconText{
                    i{
                        font-size: 60px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
    }
    #contDisenoProducto.blockServicio{
        .imgService{
            @include img-block(disenomedium, 50%, $ancho:100%);
        }
    }
    #contImpre3d.blockServicio{
        .imgService{
            @include img-block(impresionmedium, 50%, $ancho:100%);
        }
    }
    #contModelado3d.blockServicio{
        .imgService{
            @include img-block(modeladosmall, 50%, $ancho:100%);
        }
    }
    #contPrototipos.blockServicio{
        .imgService{
            @include img-block(prototipomedium, 50%, $ancho:100%);
        }
    }
}
@media all and(min-width: 992px){
    .blockServicio{
        height: 75vh;
        .contDetalleServicio{
            height: 100%;
            .textContent{
                @include text-block($alto:70%, $ancho:100%, $fntSize: 1.5rem);
            }
            .iconContainer{
                height: 30%;
                .iconText{
                    i{
                        font-size: 70px;
                    }
                    p{
                        font-size: 20px;
                    }
                }
            }
        }
    }
    #contDisenoProducto.blockServicio{
        .imgService{
            @include img-block(diseno, 100%, $ancho:100%);
        }
    }
    #contImpre3d.blockServicio{
        .imgService{
            @include img-block(impresion, 100%, $ancho:100%);
        }
    }
    #contModelado3d.blockServicio{
        .imgService{
            @include img-block(modelado, 100%, $ancho:100%);
        }
    }
    #contPrototipos.blockServicio{
        .imgService{
            @include img-block(prototipo, 100%, $ancho:100%);
        }
    }
}