$fuente: 'Open Sans', sans-serif;
$servicios-block:
    proceso,
    modelado,
    impresion,
    prototipo,
;

$navBorder:2px solid black;
$navBorderHover:2px solid magenta;
$borderColor1: 3px solid magenta;
$borderColor2: 3px solid cyan;
$botonText: #d3008d;
$botonTextHover: #ff00ff;
$botonBgrd: #00f7ff;
$botonBgrdHover:cyan;
$bgdColor1: cyan;
$bgdColor2:magenta;
$bgdColor3:white;
$bgdBlack: #101010;
$iconText-color: rgb(0, 97, 97);

