$fuente: 'Open Sans', sans-serif;
$slide-img: 
    diseno,
    proceso,
    prototipo,
;
$servicios-block:
    proceso,
    modelado,
    impresion,
    prototipo,
;
$width-map: (
    "s":25%,
    "m":50%,
    "l":75%,
    "f":100%,
);
$navBorder:2px solid black;
$navBorderHover:2px solid magenta;
$borderColor1: 3px solid magenta;
$borderColor2: 3px solid cyan;
$botonText: #d3008d;
$botonTextHover: magenta;
$botonBgrd: #00f7ff;
$botonBgrdHover:cyan;
