$fuente: 'Open Sans', sans-serif;
$slide-img: 
    diseno,
    proceso,
    prototipo,
;
$servicios-block:
    proceso,
    modelado,
    impresion,
    prototipo,
;
$width-map: (
    "s":25%,
    "m":50%,
    "l":75%,
    "f":100%,
);
